.messageAlertWarning {
    position: absolute;
    background-color: #ece2b6;
    top: calc(var(--height-header) * -1);
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height-header);
    overflow: hidden;
    animation: 3s showAlert;
}

.messageAlertWarning-text {
    color: #da8e03;
    font-size: 1.5rem;
    font-weight: bold;
}

.messageAlertSuccess {
    position: absolute;
    background-color: #d7ecb6;
    top: calc(var(--height-header) * -1);
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height-header);
    overflow: hidden;
    animation: 5s showAlert;
}

.messageAlertSuccess-text {
    color: #3c7000;
    font-size: 1.5rem;
    font-weight: bold;
}

@keyframes showAlert {

    /* começa sumido */
    0% {
        top: calc(var(--height-header) * -1);
    }

    /* continua aparecendo */
    10% {
        top: 0;
    }

    /* sumindo */
    95% {
        top: 0;
        ;
    }

    100% {
        top: calc(var(--height-header) * -1);
    }
}